<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISRPOLectures</title>
    <link rel="stylesheet" href="~/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Pdf" asp-action="Upload">Upload</a></li>
                <li><a asp-controller="Pdf" asp-action="Lectures">Lectures</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - ISRPOLectures</p>
    </footer>
</body>
</html>